  @import url('https://fonts.googleapis.com/css2?family=Glory:ital@0;1&family=Work+Sans&display=swap');

  body {
      font-family: 'Glory', sans-serif;
      font-family: 'Work Sans', sans-serif;
      background-color: var(--light-blue);
      border: 4px solid var(--dark-blue);
      height: 96vh;


      border-radius: 10px;
  }

  :root {
      --dark-blue: #3B82F6;
      --regular-blue:#60A5FA;
      --sky-blue:#93C5FD;
      --light-blue:
          #DBEAFE;
  }

  h1 {
      color: var(--dark-blue);
  }

  h2 {
      color: var(--regular-blue);
  }

  main {
      text-align: center;
  }

  label,
  button {
      display: block;
      margin: 10px;
      margin: auto;
      font-size: 22px;
      border-radius: 10px;
  }

  input {
      border: 2px solid var(--dark-blue);
      height: 20px;
      width: 70%;
      margin: 2px;
      margin-bottom: 25px;
      padding: 5px;
  }

  button {
      width: 120px;
      height: 40px;
      border-radius: 5px;
      margin-top: 20px;
      color: white;
      background-color: var(--regular-blue);

  }

  button:hover {
      background-color: var(--dark-blue);
  }

  #result {
      font-weight: bold;
      margin-top: 50px;
      font-size: 23px;
  }